body {
    background-image: url("../images/nebula.jpg");
    background-size: cover;
    
    
}

#base {
    background-color: rgb(170, 176, 180);
    width:75%;
    min-height: 750px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5%;

}


h1 {
    color: rgb(33, 109, 195);
    text-shadow: 1px 1px 1px black;
    font-size: 4em;
    font-family: 'Orbitron', Geneva, Tahoma, sans-serif;
    display: inline;
}

.fa-rocket {
    display: inline;
    color: rgb(33, 109, 195);
    font-size: 275%;
}


img {
    height: 300px;
    width: 450px;
    border-radius: 2%;
}

h3 {
    color: rgb(33, 109, 195);
    font-size: 30px;
    
}

p {
    color: rgb(29, 81, 139);
    font-size: 1.4em;
    font-family: 'Exo 2', Geneva, Tahoma, sans-serif;
    margin:0 auto;
    padding: 10px;
    max-width: 75%;
}

a {
    color: rgb(29, 81, 139);
    text-decoration: none;
    font-family: 'Orbitron', Geneva, Tahoma, sans-serif;
}

#application-link {
    font-size: 1.5em;
    text-decoration:underline;
}

#application-h {
    color: rgb(33, 109, 195);
    text-shadow: 1px 1px 1px black;
    font-size: 2.5em;
    font-family: 'Orbitron', Geneva, Tahoma, sans-serif;
}

.form-p {
    font-size: 1.2em;
    font-style: italic;
    color: black;
    padding: 10px;
}

#signoff {
    font-size: 1.2em;
    font-style: normal;
}

#motto {
    color:honeydew;
    text-align: center;
}

legend {
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

button {
    width: 150px;
    height: 60px;
    font-size: 1.1em;
    font-family: 'Exo 2', Geneva, Tahoma, sans-serif;
    vertical-align: middle;
    color: white;
    background-color: rgb(33, 109, 195);
    
}

#reset-button {
    width: 100px;
    height: 60px;
}

#quiz-score {
    /*position: absolute;
    top: 550px;
    left: 710px;*/
}

#reset-container {
    position: relative;
    height: 100px;
    margin-bottom: 0;
}

#quiz-reset {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;
}

#quiz-next {
    margin-bottom: 0;
}

#suggestion-p {
    font-size: 1em;
    width:75%;
}



fieldset {
    text-align: center;
    padding:20px;
}

label {
    display: block;
    margin: 0 auto;
    width:40%;
    padding: 15px;
    font-family:  'Exo 2', Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

legend {
    font-family: 'Orbitron', Geneva, Tahoma, sans-serif;
}

#sex-p {
    color: black;
    font-size: 1.2em;
    
}

.radio-label {
    display: inline;
    
}

#end {
    padding: 20px;
}

input {
    
}

#submit {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

