body {
    background-image: url("../images/space.jpeg");
    background-size: cover;
    
    
}

#base {
    background-color: bisque;
    height: 500px;
    width:750px;
    margin: 0 auto;
    text-align: center;
}

/*
h1 {
    text-align: center;
}

#welcome-area {
    text-align: center;
}

#quiz-image {

}

#quiz-area {

}
#quiz-score {

}
*/
button {
    width: 100px;
    height: 50px;
    vertical-align: middle;
}

#image {
    height: 200px;
}